/*body {
    background-color: gray;
}

@media screen and (max-width: 960px) {
    body {
        background-color: red;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-width: 550px) {
    body {
        background-color: yellow;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: green;
    }
}*/

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 96%;
}

#header {
    margin-right: 1.0416667%; /* 10 除以 960 */
    margin-left: 1.0416667%; /* 10 除以 960 */
    width: 97.9166667%; /* 940 除以 960 */
}

#navigation {
    padding-bottom: 25px;
    margin-top: 26px;
    margin-left: -1.0416667%; /* 10 除以 960 */
    padding-right: 1.0416667%; /* 10 除以 960 */
    padding-left: 1.0416667%; /* 10 除以 960 */
    width: 97.9166667%; /* 940 除以 960 */
}

#navigation ul li {
    display: inline-block;
}

#content {
    margin-top: 58px;
    margin-right: 1.0416667%; /* 10 除以 960 */
    float: right;
    width: 72.7083333%; /* 698 除以 960 */
}

#sidebar {
    border-right: 2px solid #e8e8e8;
    margin-top: 58px;
    padding-right: 1.0416667%; /* 10 除以 960 */
    margin-right: 1.0416667%; /* 10 除以 960 */
    margin-left: 1.0416667%; /* 10 除以 960 */
    float: left;
    width: 22.7083333%; /* 220 - 2 除以 960 */
}

#footer {
    float: left;
    margin-top: 20px;
    margin-right: 1.0416667%; /* 10 除以 960 */
    margin-left: 1.0416667%; /* 10 除以 960 */
    clear: both;
    width: 97.9166667%; /* 940 除以 960 */
}
